
.Form-Container{
    border: #ff9b24 1px solid !important;
    border-radius: 8px;
    box-shadow: #ffe5d0 2px;
}

.log-form {
    /* margin-left: 20px;
    margin-right: 20px; */
}

.log-form input {
    background-color: rgb(184, 237, 237);
}

.log-lnk {
    color: #00bbae;
}

.log-lnk:hover {
    color: #ff9b24;
}

.log-buttons {
    min-width:300px;
    background-color: #ff9b24;  
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
}

.log-buttons button {
    color: white;
}

.log-buttons:hover {
    background-color: #0eada3;
   
    color: white;
} */

.log-cl {
    border-radius: 8px;
}

.log-form input {
    border: #ff9b24 !important;
    background-color: rgb(184, 237, 237);
}

.log-link {
    color: #00bbae;
}

.log-lnk:hover {
    color: #ff9b24;
}