/* Login page

.log-cont {
    height: 570px;
}


.log-clum {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}



.log-clum {
    margin-left: 350px;
    height: 500px;
    width: 500px;
}

.log-form {
    margin-left: 20px;
    margin-right: 20px;
}

.log-form input {
    background-color: rgb(184, 237, 237);
}

.log-lnk {
    color: #00bbae;
}

.log-lnk:hover {
    color: #ff9b24;
}

.log-buttons {
    background-color: #0eada3;
    margin-left: 40px;
    border-radius: 5px;
    color: #ff9b24;
}

.log-buttons button {
    color: white;
}

.log-buttons:hover {
    background-color: #ff9b24;
    color: white;
} */

.log-cl {
    border-radius: 8px;
}

.log-form input {
    background-color: rgb(184, 237, 237);
}

.log-lnk {
    color: #00bbae;
}

.log-lnk:hover {
    color: #ff9b24;
}