.Form-Container {
    border: #ff9b24 1px solid !important;
    border-radius: 8px;
    box-shadow: #ffe5d0 2px;
}

.log-form input {
    background-color: #b8eded;
    border: #ff9b24 !important;
}

.log-buttons {
    min-width: 300px;
    background-color: #ff9b24;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
}

.log-buttons:hover {
    background-color: #0eada3;
    color: white;
}

.input-group {
    position: relative;
}

.eye_icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.eye_icon:hover {
    color: #ff9b24;
}
