<html>
  <%- include('./includes/header.ejs') %>
  <div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial">
  <p>Dear, <%= survey_owner %>,</p>
  <p>Your Survey - <a href=''> <%= title %> </a> had expired today.</p>
  </div>
  <!-- Other dynamic content here -->
  <%- include('./includes/footer.ejs') %>
</body>

</html>                     