<div style="text-align: center; margin: 1rem">
  <img src="https://st1admin.People View.se/images/pv-logo.png" alt="logo" />
</div>

<hr />
<div
  style="margin: 0 auto; max-width: 720px; padding: 5px 0; font-family: Arial"
>
  <h3>Hello, <%= user_name%></h3>
</div>

<div>
  <p>
    You are receiving this email because we received a password reset request
    for your account.
  </p>
  <%- content %>

  <p style="margin: 1rem 0">
    This password reset link will expire in 60 minutes.
  </p>

  <p style="margin: 1rem 0">
    No further action is required if you did not request a password reset.
  </p>
</div>

<div style="margin: 2rem 0">
  <p>Regards,</p>
  <p>People View</p>
</div>
<hr />
<div style="font-size: 0.8rem; line-height: 1.1rem; margin: 1rem 0;">

  If you’re having trouble clicking the "Reset Password" button, copy and paste
  the URL below into your web browser:
 <span style="text-decoration: underline; color:blue"> <%= token %> </span>
</div>
<hr />
<p style="text-align: center">
  [Auto email. Please do not reply to this email]
</p>

<hr />
<p style="text-align: center; color: rgb(151, 151, 151); font-size: 0.7rem">
  © 2023 People View. All rights reserved.
</p>
